.Theme-ForegroundColorCustom-nOATQY {
  color: rgb(245, 222, 179);
}
.Theme-BackgroundColorCustom-nOATQY {
  background-color: rgb(245, 222, 179);
}
.Theme-ForegroundColorCustom-H23ARt {
  color: rgba(245, 222, 179, 1);
}
.Theme-BackgroundColorCustom-H23ARt {
  background-color: rgba(245, 222, 179, 1);
}
.Theme-ForegroundColorCustom-MrQM95 {
  color: rgba(139, 26, 26, 1);
}
.Theme-BackgroundColorCustom-MrQM95 {
  background-color: rgba(139, 26, 26, 1);
}
